@font-face {
  font-family: poppins;
  src: url(./Poppins-Medium.ttf);
}
* {
  margin:0;
  box-sizing: border-box;
  font-family: poppins;
  user-select:none;
}

body,
main {
  position:fixed;
  top:0;
  left:0;
  overflow: hidden;
  color:#e6a20f;
}

main {
  width:100vw;
  height:100vh;
  background-color: #111;
}

.flex {
  display:flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

#numbers {
  position:absolute;
  top:0;
  width:fit-content;
  padding:1rem 0;
  font-size: 2rem;
}

.btn {
  color: #e6a20f;
  font-size:1rem;
  border:3px solid #9e700e;
  padding:.5rem 2rem;
  border-radius:4rem;
  cursor: pointer;
}
.btn:hover {
  color:#111;
  background-color: #9e700e;
  font-weight: bold;
}

#solve {
  position:fixed;
  top:1rem;
  right:1rem;
}
#new {
  position:fixed;
  top:1rem;
  left:1rem;
}
#steps > div {
  margin: 1rem 0;
}
#step {
  color:#65e60f;
}
#next {
  width:fit-content;
  color: #eee;
  border:3px solid #eee;
}
#next:hover {
  color:#444;
  background: #eee;
  font-weight:bold;
}
#cx {
  text-align: right;
  color:#65e60f;
}
#sums > td {
  border-top: 3px solid aqua;
}
.sum {
  color:aqua;
}
.num {
  padding:0 1rem;
}

td {
  border:1px solid #9e700e;
  font-size:2rem;
  width:fit-content;
  height:fit-content;
}

input {
  cursor: pointer;
  text-align: right;
  padding-right:12px;
  font-size:2rem;
  color: white;
  background:none;
  border:none;
  transition:color .15s linear;
}
table {
  border-spacing: 0;
}
.hide {
  visibility: hidden;
}

.noBorder {
  border:none;
}

.rH {
  text-align: right;
  padding-right: 12px;
}

.cH {
  text-align: center;
}

#arr00 {
  animation:pulse .15s 3s linear 5;
}

@keyframes pulse {
  0%,100% {
    background:none;
  }
  85% {
    background:#65e60f;
  }
}