@font-face {
  font-family: poppins;
  src: url(./Poppins-Medium.ttf);
}
* {
  margin:0;
  box-sizing: border-box;
  font-family: poppins;
}

body,
main {
  position:fixed;
  top:0;
  left:0;
  overflow: hidden;
  color:#e6a20f;
}

main {
  width:100vw;
  height:100vh;
  background-color: #111;
}

.flex {
  display:flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

#numbers {
  position:absolute;
  top:0;
  width:fit-content;
  padding:1rem 0;
  font-size: 2rem;
}

.btn {
  color: #e6a20f;
  font-size:1rem;
  border:1px solid #9e700e;
  padding:.5rem 2rem;
  border-radius:4rem;
  cursor: pointer;
}
.btn:hover {
  color:#111;
  background-color: #9e700e;
  font-weight: bold;
}

#solve {
  position:fixed;
  top:1rem;
  left:1rem;
}
#new {
  position:fixed;
  top:1rem;
  right:1rem;
}
.num {
  padding:0 1rem;
}

td {
  border:1px solid #9e700e;
  font-size:2rem;
  width:fit-content;
  height:fit-content;
}

input {
  text-align: right;
  padding-right:12px;
  font-size:2rem;
  color: #65e60f;
  background:none;
  border:none;
}
table {
  border-spacing: 0;
}
.hide {
  visibility: hidden;
}

.noBorder {
  border:none;
}

.rH {
  text-align: right;
  padding-right: 12px;
}

.cH {
  text-align: center;
}

footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:4rem;
  font-size:2rem;
}